.home-layout {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
  background-color: #fcd6fa;
  padding: 0.5rem;
}

.home-layout.home {
  grid-template-columns: 100%;
}
